@tailwind base;
@tailwind components;
@tailwind utilities;

/* Array with # */

/* ["#00339b", "#13e695", "#ff0081", "#796878", "#cae00c"] */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
