@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Array with # */

/* ["#00339b", "#13e695", "#ff0081", "#796878", "#cae00c"] */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.banner-text {
  font-family: "Dancing Script", cursive;
  font-weight: 700;
}
